body {
  background-color: #000;
  color: #fff;
}

.hero {
  position: relative;
  overflow: hidden;
  padding: 390px 0;
  padding-bottom: 400px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero h2 {
  position: relative;
  color: white;
}

.hero .btn {
  margin: 10px;
}

.recent-tournaments {
  background-color: #222;
  padding: 50px 0;
}

.tournament-card {
  margin-bottom: 20px;
}

footer {
  background-color: #343a40;
  color: white;
}

.display-4 {
  font-size: 100px;
}

.lead {
  padding-top: 55px;
}

.hero {
  position: relative;
  overflow: hidden;
  padding: 390px 0;
  padding-bottom: 400px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89%;
  object-fit: cover;
}

.hero h2 {
  position: relative;
  color: white;
}

.hero .btn {
  margin: 10px;
}

.tournament-grid .card {
  transition: transform 0.3s ease;
  border-radius: 1px;
  border-color: #180b0bce;
}

.tournament-grid .card:hover {
  transform: scale(1.05);
}

.tournament-grid .card-title {
  color: #ff6b6b;
}

.tournament-grid .btn-danger {
  background-color: #d9534f;
  border: #000;
}

.tournament-grid .btn-danger:hover {
  background-color: #c9302c;
}

footer {
  background-color: #343a40;
  color: white;
}

.border-img {
  border: 5px solid #ff00007e;
  border-radius: 8px;
}

.switch {
  border: 5px solid #ff00007e;
  border-radius: 8px;
}

.games {
  border: 5px solid #ff00007e;
  border-radius: 8px;
}
