.login-page-container {
  background-color: #36393d;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.login-page-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.login-page-container h2 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.login-page-container form {
  width: 100%;
}

.login-page-container form .form-control {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.login-page-container form .form-control:focus {
  border-color: #007bff;
}

.login-page-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  color: rgb(190, 3, 3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-page-container button[type="submit"]:hover {
  background-color: #3d3e3f;
}

.login-page-container .alert {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
