.card {
  flex: 0 0 calc(33% - 20px);
  max-width: 220px;
  min-width: 250px;
  margin-bottom: 20px;
  transition: transform 0.3s;
  background-color: rgb(228, 175, 0);
  color: #000000;
}

.card:hover {
  transform: scale(1.05);
}

.tournament-container {
  padding: 20px;
}

.tournament-title {
  text-align: center;
  margin-bottom: 20px;
}

.team-cards {
  margin-top: 20px;
}

.bracket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin: 20px;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.create-team-form {
  padding: 15px;
  border: 2px solid rgb(255, 255, 255); /* Cornice nera */
  background-color: rgba(250, 250, 250, 0.171); /* Sfondo rosso trasparente */
  border-radius: 8px; /* Angoli arrotondati */
}

.match-container {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.match {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff00;
  border-radius: 8px;
  background-color: #fff6f600;
  color: #3b080800;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-right: 16px;
  margin-top: 20px;
}

.match::after {
  content: "";
  position: absolute;
  top: -0%;
  right: -28px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.match::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 15px;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
}

.match-container .match:nth-child(even)::after {
  background-color: #ffffff;
  left: -24px;
}

.no-connection::before,
.no-connection::after {
  display: none;
}

.modal-title {
  color: black; /* Colore nero per il titolo */
}

.no-participants {
  color: black; /* Colore nero per il messaggio "Nessun partecipante trovato" */
}
